streamlit 
geopandas 
requests

# componentes testados

## streamlit-folium
folium
branca
streamlit-folium

##streamlit-keplergl (usando conda) (feito para jupiter)
# keplergl
# streamlit-keplergl

## streamlit-leaflet (nao funciona)
# leaflet
# streamlit-leaflet





